---
import TitleCenter from "@/components/TitleCenter.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { render } from "astro:content";

// get static paths for all pages
export async function getStaticPaths() {
  const pages = await getSinglePage("regularpage");

  const paths = pages.map((page) => ({
    params: {
      regular: page.id,
    },
    props: { page },
  }));
  return paths;
}

const { page } = Astro.props;
const { Content } = await render(page);

const schemaData = [
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": page.data.title,
    "description": page.data.description,
    "url": `https://jlandgroup.com/${page.id}`
  },
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://jlandgroup.com"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": page.data.title,
        "item": `https://jlandgroup.com/${page.id}`
      }
    ]
  }
];

---

<Base {...page.data} schemaData={schemaData} noindex={page.id === 'privacy-policy'}>
  <section class="section-lg">
    <div class="container">
      <TitleCenter
        title={page.data.title}
        description={page.data.description}
        className="mb-26"
        centerText
      />
      <div class="lg:w-[80%] mx-auto">
        <div class="content">
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
